<header>
    <div class="wrapper">
        <h1>Work tools</h1>
        <span>
            <input type="text" value="{{user_unique}}" ng-blur="updateUser()"/>
            <span>
                <i class="fa fa-caret-up"></i>
                This is your unique code.<br/>
                You can change and use an e-mail to retrieve your infos easier
            </span>
        </span>
    </div>
</header>
<watch></watch>
<lists class="col-sm-6 col-md-8 col-xs-12"></lists>
<memo class="col-sm-6 col-md-4 col-xs-12"></memo>